* {
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 Roboto, system-ui, sans-serif;
  background: rgb(56, 57, 58);
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

/* ------------ NAVIGATION ------------ */

#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem 0.75rem 0 0;
  margin-bottom: 20px;
}

.hide-mobile {
  display: none;
}

/* ------------ GOOGLE SECTION ------------ */

#google-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: -2px;
}

.google-heading {
  margin: 0 0 8px 0;
}

/* ------------ SEARCH BAR SECTION ------------ */

#search-bar {
  display: flex;
  justify-content: center;
  width: 260px;
  height: 44px;
  margin: 0 auto 25px;
  border-radius: 25px;
  background-color: #676767;
}

#search-contents {
  display: flex;
  align-items: center;
  width: 230px;
}

#mag-glass {
  display: none;
}

#search-input-sm {
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 0 0 0 25px;
  margin: 0 auto;
  background-color: #676767;
  text-align: center;
}

#search-input-sm::placeholder {
  color: #c1c1c1;
}

#voice-dictation {
  border: none;
  color: #c1c1c1;
  background-color: #676767;
  padding: 0;
  font-size: 0.8rem;
}

/* ------------ TOP SITE SECTION ------------ */

#top-websites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 336px;
  margin: 0 auto;
}

.top-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
  width: 112px;
  border-radius: 4px;
  padding: 10px 5px;
  transition: all 0.2s ease-in-out;
}

.top-site-icon {
  width: 48px;
  height: 24px;
}

.top-site-icon-bg {
  background-color: rgb(32, 33, 36);
  border-radius: 25%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus {
  font-size: 0.85rem;
}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hvr-fade:hover {
  background-color: rgba(222, 222, 222, .16);
  color: white;
}

/* ------------ VOTE SECTION ------------ */

#vote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 33, 36);
  width: 285px;
  height: 28px;
  margin: 5px auto 192px;
  border: solid 1px rgb(95, 99, 104);
  border-radius: 25px;
}

#palette-icon {
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #0000ff 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#vote-button-container {
  margin-left: 2px;
}

#vote-button {
  background-color: rgb(32, 33, 36);
  color: rgb(123, 170, 247);
  border: none;
  height: 24px;
  font-size: 0.75rem;
}


/* ------------ FOOTER SECTION ------------ */

#customize-section {
  margin-right: 1rem;
}

#customize-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.825rem;
  color: rgb(123, 170, 247);
  background-color: rgb(32, 33, 36);
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;

}

#customize-icon {
  padding: 0 0.65rem 0 0.55rem;
}

#customize-text {
  padding-right: 0.55rem;
}

.hide-custom {
  display: none;
}


















/* ------------ MEDIA QUERIES ------------ */
@media (min-width: 768px) {
  #nav {
    padding: 0.8rem 1rem 0 0;
  }

  #nav a:hover {
    cursor: pointer;
  }

  #nav a:nth-child(2) {
    padding-left: 0.95rem;
    margin-left: 0;
  }

  #nav a:nth-child(3) {
    margin-left: 0.9rem;
  }

  #nav a:nth-child(4) {
    margin-left: 0.4rem;
  }

  .hide-mobile {
    display: block;
  }

  .hide-lg-screen {
    display: none;
  }

  .nav-text {
    font-size: 0.8rem;
  }

  .nav-text:hover {
    text-decoration: underline;
  }

  #dot-grid,
  #profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .hvr-glow:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(222, 222, 222, 0.16);
    background-color: rgba(222, 222, 222, 0.16);
    border-radius: 50%;
  }

  #google-section {
    font-size: 3.5rem;
    margin-top: 40px;
  }

  .google-heading {
    margin-bottom: 30px;
  }

  #search-bar {
    width: 560px;
    background-color: #fff;
  }

  #search-contents {
    width: 523px;
    background-color: #fff;
  }

  #mag-glass {
    display: block;
    color: #757575;
    margin-right: 1.2rem;
  }

  #search-input {
    border: none;
    width: 100%;
    font-size: 1.1rem;
    padding: 0;
    background-color: #fff;
  }

  #voice-dictation {
    color: red;
    font-size: 0.8rem;
    background-color: #fff;
  }

  #top-websites {
    width: 336px;
  }

  .top-site {
    width: 112px;
  }

  .top-site-icon-bg {
    border-radius: 50%;
  }

  .hide-custom {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
  }



}