* {
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 Roboto, system-ui, sans-serif;
  background: #35363a;
  /* overflow: hidden; */
}

main {
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

/* ------------ NAVIGATION ------------ */

#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem 0.75rem 0 0;
  margin-bottom: 20px;
}

.hide-mobile,
.hide-custom {
  display: none;
}

/* ------------ GOOGLE SECTION ------------ */

#google-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: -2px;
}

#google-heading {
  margin: 0 0 8px 0;
}

/* ------------ SEARCH BAR SECTION ------------ */

.search-bar {
  display: flex;
  justify-content: center;
  width: 260px;
  height: 44px;
  margin: 0 auto 25px;
  border-radius: 25px;
  background-color: #676767;
}

#search-contents {
  display: flex;
  align-items: center;
  width: 230px;
  position: relative;
}

#mag-glass {
  display: none;
}

#search-input-sm {
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 0 0 0 25px;
  margin: 0 auto;
  background-color: #676767;
  text-align: center;
}

#search-input-sm::placeholder {
  color: #c1c1c1;
}

#voice-dictation {
  border: none;
  color: #c1c1c1;
  background-color: #676767;
  padding: 0;
  font-size: 0.8rem;
}

#voice-dictation:hover {
  cursor: pointer;
}

.dropdown {
  display: none;
  height: auto;
  width: 560px;
  position: absolute;
  left: -18.5px;
  top: 31px;
  background-color: #fff;
  list-style: none;
  font-size: 0.8em;
  padding: 0;
  border-radius: 0 0 10px 10px;
}

.show {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.search-padding-top {
  padding-top: 0.33rem;
}

.search-border-radius {
  border-radius: 10px 10px 0 0;
}

.dropdown-text {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1rem;
  margin: 10px 0;
}

.dropdown-text div {
  padding-left: 16px;
}

.dropdown-list-items {
  padding-left: 21px;
}

.dropdown-list-items:hover {
  background-color: #efefef;
}

.dropdown-list-items:not(:first-child) {
  margin-top: 0.5rem;
}

.fa-clock {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 0.75rem;
  margin-right: 14px;
}

.search-span {
  font-size: 1rem;
  color: #757575;
  padding-left: 4px;
}

/* ------------ TOP SITE SECTION ------------ */

#top-websites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 336px;
  margin: 0 auto;
}

.top-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
  width: 112px;
  border-radius: 4px;
  padding: 10px 5px;
  transition: all 0.2s ease-in-out;
}

.top-site-icon {
  width: 48px;
  height: 24px;
}

.top-site-icon-bg {
  background-color: rgb(32, 33, 36);
  border-radius: 25%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus {
  font-size: 0.85rem;
}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hvr-fade:hover {
  background-color: rgba(74, 74, 78);
  color: white;
}

/* ------------ VOTE SECTION ------------ */

#vote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 33, 36);
  width: 285px;
  height: 28px;
  margin: 5px auto 192px;
  border: solid 1px rgb(95, 99, 104);
  border-radius: 25px;
}

.vote-link {
  margin: 0;
}

#palette-icon {
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #0000ff 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#vote-button-container {
  margin-left: 2px;
}

#vote-button {
  background-color: rgb(32, 33, 36);
  color: rgb(123, 170, 247);
  border: none;
  height: 24px;
  font-size: 0.75rem;
}

#vote-button:hover {
  cursor: pointer;
}

/* ------------ MEDIA QUERIES ------------ */

/* @media (prefers-color-scheme: dark) {
  :host {
    --cr-toggle-checked-bar-color: var(--google-blue-300);
    --cr-toggle-checked-button-color: var(--google-blue-300);
    --cr-toggle-checked-ripple-color:
      rgba(var(--google-blue-300-rgb), .4);
    --cr-toggle-unchecked-bar-color: var(--google-grey-500);
    --cr-toggle-unchecked-button-color: var(--google-grey-300);
    --cr-toggle-unchecked-ripple-color:
      rgba(var(--google-grey-300-rgb), .4);
  }

}

:host([dark]) {
  --cr-toggle-checked-bar-color: var(--google-blue-300);
  --cr-toggle-checked-button-color: var(--google-blue-300);
  --cr-toggle-checked-ripple-color:
    rgba(var(--google-blue-300-rgb), .4);
  --cr-toggle-unchecked-bar-color: var(--google-grey-500);
  --cr-toggle-unchecked-button-color: var(--google-grey-300);
  --cr-toggle-unchecked-ripple-color:
    rgba(var(--google-grey-300-rgb), .4);
} */

@media (min-width: 768px) {
  /* ------------ NAVIGATION MEDIA ------------ */

  #nav {
    padding: 0.8rem 1rem 0 0;
  }

  #nav a:hover {
    cursor: pointer;
  }

  #nav a:nth-child(2) {
    padding-left: 0.95rem;
    margin-left: 0;
  }

  #nav a:nth-child(3) {
    margin-left: 0.9rem;
  }

  #nav a:nth-child(4) {
    margin-left: 0.4rem;
  }

  .hide-mobile {
    display: block;
  }

  .nav-text {
    font-size: 0.8rem;
  }

  .nav-text:hover {
    text-decoration: underline;
  }

  #dot-grid,
  #profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .hvr-glow:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(222, 222, 222, 0.16);
    background-color: rgba(222, 222, 222, 0.16);
    border-radius: 50%;
  }

  /* ------------ GOOGLE SECTION MEDIA ------------ */

  #google-section {
    margin-top: 90px;
  }

  #google-heading {
    font-size: 5.5rem;
    margin-bottom: 20px;
  }

  /* ------------ SEARCH BAR SECTION MEDIA ------------ */

  .search-bar {
    width: 560px;
    background-color: #fff;
  }

  #search-contents {
    width: 523px;
    background-color: #fff;
  }

  #mag-glass {
    display: block;
    color: #757575;
    margin-right: 0.82rem;
  }

  #search-input {
    border: none;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    background-color: #fff;
  }

  #search-input:focus {
    outline: none;
  }

  #voice-dictation {
    color: red;
    font-size: 0.8rem;
    background-color: #fff;
  }

  /* ------------ TOP SITE SECTION MEDIA ------------ */

  #top-websites {
    width: 336px;
  }

  .top-site {
    width: 112px;
  }

  .top-site-icon-bg {
    border-radius: 50%;
  }

  /* ------------ FOOTER SECTION MEDIA ------------ */

  .hide-custom {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  #customize-section {
    margin-right: 1rem;
  }

  #customize-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.825rem;
    color: rgb(123, 170, 247);
    background-color: rgb(32, 33, 36);
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(32, 33, 36, 1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(32, 33, 36, 1);
    box-shadow: 0px 2px 3px 0px rgba(32, 33, 36, 1);
  }

  #customize-button:hover {
    background-color: #282c35;
    cursor: pointer;
  }

  #customize-icon {
    padding: 0 0.65rem 0 0.55rem;
  }

  #customize-text {
    padding-right: 0.55rem;
  }

  /* ------------ CUSTOMIZE MODAL OVERLAY MEDIA ------------ */

  .customize-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(5, 5, 5, 0.7);
  }

  /* ------------ CUSTOMIZE MODAL MEDIA ------------ */

  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 520px;
    padding: 0;
    margin: 120px auto auto;
    background: #28292c;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
  }

  .modal-content {
    width: 100%;
    height: 100%;
  }

  .modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-size: 0.95rem;
    width: 100%;
  }

  .modal-header-p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    margin: 16px 0 0;
    width: 572px;
    height: 64px;
  }

  .show-2 {
    border-bottom: 1px solid #5f6367;
  }

  .modal-center-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 372px;
  }

  .modal-categories {
    width: 218px;
    height: 176px;
  }

  .modal-list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .modal-list-item {
    display: flex;
    align-items: center;
    color: #fff;
    width: 192px;
    height: 32px;
    border-radius: 0 16px 16px 0;
  }

  .modal-list-item:not(:first-child) {
    margin: 16px 24px 0 0;
  }

  .modal-list-item:hover {
    border-radius: 0 16px 16px 0;
  }

  .modal-list-item-active {
    color: #8bb4f7;
    background-color: #393f4d;
  }

  .modal-list-item:not(.modal-list-item-active):hover {
    background-color: #3c3d40;
  }

  .modal-icon-container {
    width: 20px;
    height: 20px;
    margin: 0 16px 0 24px;
  }

  .fa-image,
  .fa-link,
  .fa-server,
  .fa-palette {
    font-size: 1.25rem;
  }

  .modal-list-p {
    margin: 0;
    font-size: 0.85rem;
  }

  /* ----------------- MODAL GRID SECTION ------------------ */

  #modal-grid {
    display: grid;
    grid-template-columns: repeat(3, 178px);
    gap: 8px;
    width: 582px;
    height: 372px;
    overflow: scroll;
    padding: 0 0 25px 14px;
  }

  .modal-grid-item {
    width: 178px;
    height: 224px;
    cursor: pointer;
  }

  .modal-grid-item-one {
    display: flex;
    align-items: flex-start;
    width: 178px;
    height: 178px;
    background-color: #202124;
    border: 1px solid #5f6367;
    border-radius: 5px;
  }

  .upload-from-device {
    width: 178px;
    height: 139px;
  }

  .arrow-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 61px auto 8px;
  }

  #fa-arrow {
    font-size: 1.3rem;
    color: #9aa0a6;
  }

  .modal-grid-p-one {
    margin: 12px 0 4px 0;
    min-height: 30px;
    font-size: 0.75rem;
    text-align: center;
  }

  .modal-grid-one-tab {
    margin: 12px 0 4px 0;
    height: 30px;
    background-color: #28292c;
  }

  .mini-google-page-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 178px;
    border-radius: 5px;
    background-color: #39404e;
  }

  .mini-google-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 142px;
    background-color: #202124;
    border: 1px solid #5f6367;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
  }

  #mini-header {
    width: 92%;
    height: 42px;
  }

  .mini-google-logo,
  .shortcut-mini-google-logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
  }

  .mini-google-logo {
    color: #fff;
  }

  .search-hr,
  .shortcut-search-hr {
    height: 9px;
    margin: 0;
    border-radius: 5px;
  }

  .search-hr {
    background-color: #fff;
  }

  /* ----------------- MODAL SHORTCUTS SECTION ------------------ */

  #mini-shortcuts {
    width: 82%;
    height: 42px;
    margin-top: 11px;
    scroll-padding-top: 11px;
  }

  .dot-img {
    width: 100%;
    height: 42px;
  }

  .selected-check {
    position: absolute;
    right: 8px;
    top: 7px;
    display: block;
    text-align: center;
    width: 22px;
    height: 22px;
    background-color: #8bb4f7;
    border-radius: 50%;
  }

  .fa-check {
    -webkit-text-stroke: 1px #8bb4f7;
  }

  .modal-img {
    width: 100%;
    height: 178px;
    border: 1px solid #5f6367;
    border-radius: 5px;
  }

  .modal-grid-p {
    font-size: 0.8rem;
    color: #fff;
    margin: 0;
  }

  .modal-grid-p-two {
    margin: 6px 0 0;
  }

  .modal-shortcuts-container {
    display: flex;
    flex-direction: column;
    width: 582px;
    height: 372px;
    padding: 10px 0 0 14px;
  }

  .modal-shortcuts-top {
    display: flex;
    justify-content: space-between;
    width: 542px;
  }

  .my-shortcuts-container,
  .most-visited-sites-container {
    width: 266px;
  }

  .mini-google-container {
    position: relative;
    width: 266px;
    height: 174px;
    border: 1px solid #5f6367;
    border-radius: 4px;
  }

  .mini-google-container-active {
    background-color: #39404e;
    border: 1px solid #8bb4f7;
  }

  .mini-google-container:not(.mini-google-container-active):hover {
    background-color: #30343d;
  }

  .checked-icon-container-one,
  .checked-icon-container-two {
    position: absolute;
    right: 35px;
    top: 7px;
    display: block;
    text-align: center;
    width: 22px;
    height: 22px;
    background-color: #8bb4f7;
    border-radius: 50%;
  }

  .user-svg-container,
  .earth-svg-container {
    position: absolute;
    bottom: 30px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
  }

  .svg-active {
    fill: #8bb4f7;
  }

  .shortcut-mini-google-page {
    position: absolute;
    right: 42px;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 142px;
    background-color: #202124;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.35);
  }

  .not-active-border {
    border: 1px solid #5f6367;
  }

  .shortcut-mini-google-logo {
    color: #dadce0;
  }

  .shortcut-search-hr {
    background-color: #dadce0;
  }

  .bottom-text h4,
  .shortcuts-h4,
  .bottom-text p,
  .shortcuts-p {
    font-size: 0.8rem;
    letter-spacing: 0.005px;
  }

  .bottom-text h4,
  .shortcuts-h4 {
    color: #fff;
  }

  .bottom-text p,
  .shortcuts-p {
    color: #9aa0a6;
  }

  .bottom-text {
    padding-left: 2px;
  }

  .bottom-text h4 {
    margin-bottom: 0.5px;
  }

  .bottom-text p {
    margin: 4.5px 0 25px;
  }

  .hide-toggle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    border: 1px solid #5f6367;
    border-radius: 4px;
  }

  .slashed-eye-icon-container {
    display: flex;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 0 20px 0 24px;
  }

  .fa-eye-slash {
    color: #9aa0a6;
  }

  .hide-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 388px;
    height: 62px;
  }

  .shortcuts-h4,
  .shortcuts-p {
    margin: 0;
  }

  .hide-toggle-container {
    display: flex;
    justify-content: center;
    width: 34px;
    height: 16px;
    margin: 0 20px 0 0;
  }

  .hide-toggle-switch {
    width: 28px !important;
    height: 12px !important;
  }

  .hide-toggle-switch-span {
    background-color: #9aa0a6 !important;
    width: 28px !important;
    height: 12px !important;
  }

  .hide-toggle-switch-knob {
    width: 16px !important;
    height: 16px !important;
  }

  /* .fa-eye-slash */
  .eye-slash-active {
    color: #8bb4f7;
  }

  .hide-section-bg-border-active {
    background-color: #39404d;
    border: 1px solid #8bb4f7;
  }

  .shortcuts-text-active {
    color: #8bb4f7;
  }

  .toggle-knob-active {
    color: #8bb4f7;
    background-color: #8bb4f7;
  }

  /* ----------------- MODAL CARDS SECTION ------------------ */

  #modal-cards-section {
    width: 582px;
    height: 372px;
    padding: 0 0 25px 14px;
    font-size: 0.7525rem;
    color: #fff;
  }

  .modal-cards-radios,
  .modal-cards-toggles {
    border: none;
    padding: 0;
  }

  .hide-legend {
    position: absolute;
    left: -9999px;
    width: 100px;
    height: auto;
    overflow: hidden;
  }

  .modal-cards-radios {
    display: flex;
    flex-direction: column;
    width: 135px;
    margin: 14px 0 24px 0;
  }

  .modal-cards-toggles {
    margin: 0;
  }

  .modal-cards-radio-container {
    display: flex;
    align-items: center;
  }

  .modal-cards-radio-container:nth-child(3) {
    margin-top: 1.9rem;
  }

  #modal-cards-radio-one,
  #modal-cards-radio-two {
    width: 16px;
    height: 16px;
  }

  .cards-radio-label-one,
  .cards-radio-label-two {
    margin-left: 20px;
  }

  .modal-cards-toggles {
    margin: 0.1px 51px 0 36px;
  }

  .cards-toggle-container {
    display: flex;
    align-items: center;
    height: 3.25rem;
  }

  #cards-top-toggle-container {
    border: 1px solid #5f6367;
    border-radius: 5px 5px 0 0;
  }

  #cards-middle-toggle-container {
    border-left: 1px solid #5f6367;
    border-right: 1px solid #5f6367;
  }

  #cards-bottom-toggle-container {
    border-left: 1px solid #5f6367;
    border-right: 1px solid #5f6367;
    border-bottom: 1px solid #5f6367;
    border-radius: 0 0 5px 5px;
  }

  .card-toggle {
    width: 34px;
    height: 16px;
    margin-right: 20px;
  }

  .cards-toggle-p {
    width: 397px;
    margin: 0 0 0 1.5rem;
  }

  /* ----------------- COLOR THEME SECTION ------------------ */

  #color-theme-section {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 582px;
    height: 372px;
    padding: 10px 0 25px 14px;
    color: #fff;
  }

  .color-selection {
    display: flex;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
  }

  .color-half {
    width: 50%;
  }

  .white {
    background-color: #fff;
  }

  .custom-color-border {
    position: relative;
    border: 1px solid #f2f3f4;
  }

  #pencil-svg {
    position: absolute;
    left: 20px;
    top: 20px;
    fill: #5f6367;
  }

  .custom-color {
    background-color: #f2f3f4;
  }

  .default-color-border {
    border: 1px solid #202123;
  }

  .default-color-light {
    background-color: #323639;
  }

  .default-color {
    background-color: #202123;
  }

  .warm-grey-border {
    border: 1px solid #e4dbd8;
  }

  .warm-grey {
    background-color: #e4dbd8;
  }

  .cool-grey-border {
    border: 1px solid #a6abb7;
  }

  .cool-grey-light {
    background-color: #d9dae0;
  }

  .cool-grey {
    background-color: #a6abb7;
  }

  .midnight-blue-border {
    border: 1px solid #2a373d;
  }

  .midnight-blue-light {
    background-color: #445760;
  }

  .midnight-blue {
    background-color: #2a373d;
  }

  .black-border {
    border: 1px solid #000;
  }

  .black-light {
    background-color: #353535;
  }

  .black {
    background-color: #000;
  }

  .beige-white-border {
    border: 1px solid #fcdbca;
  }

  .beige-white {
    background-color: #fcdbca;
  }

  .yellow-white-border {
    border: 1px solid #fede5c;
  }

  .yellow-white {
    background-color: #fede5c;
  }

  .green-white-border {
    border: 1px solid #cbe9bf;
  }

  .green-white {
    background-color: #cbe9bf;
  }

  .light-teal-white-border {
    border: 1px solid #b7e8f4;
  }

  .light-teal-white {
    background-color: #b7e8f4;
  }

  .light-purple-white-border {
    border: 1px solid #ead5ff;
  }

  .light-purple-white {
    background-color: #ead5ff;
  }

  .pink-white-border {
    border: 1px solid #f5d5e5;
  }

  .pink-white {
    background-color: #f5d5e5;
  }

  .beige-border {
    border: 1px solid #e2ab9a;
  }

  .beige-light {
    background-color: #f5e1da;
  }

  .beige {
    background-color: #e2ab9a;
  }

  .orange-border {
    border: 1px solid #ffab40;
  }

  .orange-light {
    background-color: #ffdfb7;
  }

  .orange {
    background-color: #ffab40;
  }

  .light-green-border {
    border: 1px solid #78ba7b;
  }

  .light-green-light {
    background-color: #c5e1c5;
  }

  .light-green {
    background-color: #78ba7b;
  }

  .light-teal-border {
    border: 1px solid #5bb9c1;
  }

  .light-teal-light {
    background-color: #b7e1e4;
  }

  .light-teal {
    background-color: #5bb9c1;
  }

  .light-blue-border {
    border: 1px solid #85adea;
  }

  .light-blue-light {
    background-color: #cbdbf8;
  }

  .light-blue {
    background-color: #85adea;
  }

  .pink-border {
    border: 1px solid #ffadbd;
  }

  .pink-light {
    background-color: #ffe0e6;
  }

  .pink {
    background-color: #ffadbd;
  }

  .dark-pink-red-border {
    border: 1px solid #660d33;
  }

  .dark-pink-red-light {
    background-color: #a0154f;
  }

  .dark-pink-red {
    background-color: #660d33;
  }

  .dark-red-orange-border {
    border: 1px solid #6c1212;
  }

  .dark-red-orange-light {
    background-color: #a81c1d;
  }

  .dark-red-orange {
    background-color: #6c1212;
  }

  .dark-green-border {
    border: 1px solid #17391a;
  }

  .dark-green-light {
    background-color: #275d2a;
  }

  .dark-green {
    background-color: #17391a;
  }

  .dark-teal-border {
    border: 1px solid #01393e;
  }

  .dark-teal-light {
    background-color: #075b62;
  }

  .dark-teal {
    background-color: #01393e;
  }

  .dark-blue-border {
    border: 1px solid #0e3562;
  }

  .dark-blue-light {
    background-color: #15539a;
  }

  .dark-blue {
    background-color: #0e3562;
  }

  .dark-purple-border {
    border: 1px solid #462a67;
  }

  .dark-purple-light {
    background-color: #6d41a1;
  }

  .dark-purple {
    background-color: #462a67;
  }

  .modal-buttons-container {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }

  .modal-buttons {
    width: 74px;
    height: 32px;
    font-size: 0.825rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
  }

  .modal-cancel {
    color: #8bb4f7;
    background-color: #28292c;
    border: 1px solid #5f6367;
  }

  .modal-cancel:hover {
    background-color: #31353d;
  }

  .modal-done {
    background-color: #8bb4f7;
    border: 1px solid #8bb4f7;
    margin-left: 8px;
  }

  .modal-done:hover {
    background-color: #7fa6e4;
  }

  .hide,
  .hide-lg-screen {
    display: none;
  }
}